# Variables requeridas para MS-Medallas en DigitalOcean App Platform
BD_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres
BD_USUARIO=postgres.bixnwhavzcikyjxtilkm
BD_PASSWORD=FIGOrat@12345

# URL del backend principal MundialScore (incluye /api)
PRINCIPAL_API_URL=https://mundial-score-twbx6.ondigitalocean.app/api

# Opcionales
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
PORT=8080
